        <form method="POST">
            <div>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>

            {{ form_rest(form) }}

            <input type="submit">
        </form>
